<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Multiplikationsövning</title>
</head>
<body>
    <div class="container">
        <h1>Välkommen till Ruths Multiplikations App!</h1>
        <img src="{{ url_for('static', filename='image/multiplikation.webp') }}" alt="Math Image">
        <p>Klicka på knappen nedan för att starta quizzet!</p>
        <a href="/quiz"><button>Starta Quiz</button></a>
    </div>
</body>
</html>